
.login_container{
    display: flex;
    justify-content: center;
    background:url("../../assets/img/tours/background_1.png");
    overflow: hidden;
    padding-bottom: 3rem
}
.common{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all .5s ease-in
}


.signUp_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/tours/tour-1-1.jpg");
    background-position: center;
    background-size: cover;
}

.login_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/img/tours/tour-1-1.jpg");
    background-position: center;
    background-size: cover;
}

/* .quotes_section{
    display: flex;
    align-items: center;
    color: black;
    font-style: italic;
    background: rgb(189, 195, 199);
} */

.quotes_container{
    padding: 3rem;
    display: flex;
    color:#34495e;
    font-style: italic;
    background: rgb(189, 195, 199);
    flex-direction: column;
    height: 100%;
    font-family: monospace;
    justify-content: center;
}
.quotes_container i {
    font-size: 3rem;
}

.quotes_container .fa-quote-right {
    margin-left: auto;
}
.quotes_container h2{
    padding: 0;
    margin: 0;
    color: #34495e;
    font-family: monospace;
    font-size: 4.5em;
    font-style: italic;
    line-height: 1 !important;
    margin: 0;
    position: relative;
    /* text-shadow: 0 1px white; */
    z-index: 600;
}

.form_container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center
}
form{
    padding: 2rem;
    transform: skewX(-5deg);
}
input:not([type='submit']) {
    /* border-radius: 20px; */
    margin: 10px;
    /* height: 100%; */
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ecf0f1;
    color: white;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 3rem;
}

input[type=submit] {
    margin-top: 3rem;
    width: 60%;
    box-sizing: border-box;
    background: #7289DA;
    border: none;
    color: #fff;
    padding: 13px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}
/* input:not(:disabled)[type=submit] :hover {
    transform: scale(1.1);
}  */
input[type=submit]:active{
    transform: translateY(5px)
}

input[type="submit"]:disabled {
    background-color: buttonface;
    color: black;
    opacity: 0.3;
}

.floatContainer {
    position: relative;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    margin-bottom: 4rem;
}

.floatingPlaceHolder {
    position: absolute;
    top: 7%;
    opacity: 0.9;
    color: white;
    left: 6%;
    font-weight: bold;
    pointer-events: none;
    transition: 0.2s ease all;
}

input:focus {
    outline: none
}

.floatInput:focus~.floatingPlaceHolder,
.floatInput:not(:focus):valid~.floatingPlaceHolder {
    top: -17%;
    font-size: 11px;
    opacity: 0.8;
    left: 3%;
}


#flipbook{
    width:800px;
    height:500px;
    margin: 3rem 0 0 0;
    animation-delay: 2s;
    transition: 0.5s linear;
    -webkit-animation: swirl-in-fwd 0.6s ease-out both;
    animation: swirl-in-fwd 0.6s ease-out both;
}


#flipbook .page{
    width:100%;
    height:100%;
    background-color:white;
}

#flipbook .hard{
    background:#95a5a6 !important;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    color: #ecf0f1
}

#flipbook h1{
    font-size: 7rem;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-style: italic
}

.register,.forgot_password{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.7s ease;
}
.register{
    padding: 1rem;
    
}
.register span ,.forgot_password span{
    cursor: pointer
}
.register span{
    font-size: 1.7rem;
    color: #3ae374
}

.register:hover, .register span:hover, .forgot_password span:hover{
    transform: scale(1.2);
    font-weight: bold;
}

@keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0) skewX(5deg);
              transform: rotate(-540deg) scale(0) skewX(5deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skewX(0);
              transform: rotate(0) scale(1) skewX(0);
      opacity: 1;
    }
  }

.last_page{
      background: #34495e !important;
      color: #ecf0f1
  }

.last_page h2{
    color: #ecf0f1
}