<section class="search_section">
    <div class="search_container">
        <div class="search_box">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input (keyup)="onSearch($event.target.value)" id="name" placeholder="Search"/>
        </div>
        <div class="sort_box">
            <span>Sort By: </span>
            <select name="" id="" (change)="onSortByChange($event.target.value)">
                <option [value]="sortItem.value" *ngFor="let sortItem of sortItmeList | keyvalue">{{sortItem.key}}</option>
            </select>
        </div>
        <div class="filter_box" *ngIf="!hideFilters">
            <span>Filter By: </span>
            <select (change)="onFilterChange($event.target.value,'rating')">
                <option [value]="rating" *ngFor="let rating of ratingList">{{rating}}</option>
            </select>
            <select (change)="onFilterChange($event.target.value,'price')">
                <option [value]="price" *ngFor="let price of priceList">{{price}}</option>
            </select>
        </div>

        <div class="filter_box" *ngIf="!hideFilters">
            <button class="btn" (click)="showUserNearByTours()">Nearby Tours</button>
        </div>
        <div class="filter_box" *ngIf="!hideFilters">
                <button class="btn" (click)="getTop5Tours()">Top 5 Tours</button>
            </div>
        
    </div>
</section>