.match-parent {
    width: 100%;
    height: 100%;
  }

  .marker{
    background-image: url('../../assets/img/pin.png');
    background-size: cover;
    width: 32px;
    height: 40px;
    cursor: pointer;
  }