<section class="about_section">
    <div class="about_container">
        <h2>Feature</h2>
        <ul>
            <li>
                <span>User</span>
                <ul>
                    <li>Login/signup</li>
                    <li>Change password</li>
                    <li>Retrive password</li>
                    <li>Change profile data</li>
                    <li>View all Tours</li>
                    <li>Book the tour</li>
                    <li>See all bookings</li>
                    <li>Write/update/delete review</li>
                    <li>Give ratings</li>
                    <li>See top 5 tours based on ratings</li>
                    <li>Sort and filter tours</li>
                    <li>See tours which is near by to his location</li>
                    <li>Receive Mail on singup and forgot passowrd</li>
                </ul>
            </li>
            <li>
                <span>Admin</span>
                <ul>
                    <li>Create/Update/Delete Tour</li>
                    <li>Update/Delete User</li>
                    <li>See Monthly Chart</li>
                    <li>See all Bookings</li>
                </ul>
            </li>
        </ul>

        <h2>Technical Feature</h2>
        <ul>
            <li>MEAN Stack Application</li>
            <li>Dockerized App with NGINX support</li>
            <li>E-Mail Supprot with sendGrid</li>
            <li>Real Payment support from Stripe</li>
        </ul>


        <h2>Testing Login Details</h2>
        <ul>
            <li>
                <span>User</span>
                <ul>
                    <li>UserName : user@mytour.com</li>
                    <li>Password : user@mytour</li>
                </ul>
            </li>
            <li>
                <span>Admin</span>
                <ul>
                    <li>UserName : admin@mytour.com</li>
                    <li>Password : admin@mytour</li>
                </ul>
            </li>
        </ul>

        <h2>Testing Payment Details</h2>
        <ul>
            <li> Card Number : 4242 4242 4242 4242</li>
            <li> Brand : Visa</li>
            <li> CVV : Any 3 digits</li>
            <li> DATE : Any future date</li>
        </ul>
    </div>

</section>