<div class="card_container">
    <app-user-profile-card></app-user-profile-card>

    <app-loading-spinner [showLoader]="showLoader"></app-loading-spinner>
    <app-search-header (searchCriterionChangedEvent)="searchCriterionChanged($event)" [sortItmeList]="sortItmeList" (showUserNearByToursEvent)="showUserNearByTours($event)" ></app-search-header>
    <div class="card" *ngFor="let tour of tourList">
        <div class="card_header">
            <div class="card_picture">
                <div class="card_picture_overlay"></div>
                <img src="../../assets/img/tours/{{tour.imageCover}}">
            </div>
            <div class="card_title">
                <span>{{tour.name}}</span>
            </div>
        </div>
        <div class="card_details">
            <div class="card_subtitle">
                <h4>{{tour.difficulty}} {{tour.duration}}-DAY TOUR</h4>
            </div>
            <div class="card_text">
                <p>{{tour.summary}}</p>
            </div>
            <div class="card_data_container">
                <div class="card_data">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>{{tour.startLocation.description}}</span>
                </div>
                <div class="card_data">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>{{tour.startDates[0] | date:'MMM yyyy'}}</span>
                </div>
                <div class="card_data">
                    <i class="fa fa-flag-o" aria-hidden="true"></i>
                    <span>3 stops</span>
                </div>
                <div class="card_data">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>{{tour.maxGroupSize}}</span>
                </div>
            </div>
        </div>
        <div class="card_footer">
            <div>
                <p class="cost">
                    <span class="price">${{tour.price}}</span>
                    <span>per Person</span>
                </p>
                <p class="rating">
                    <span class="rating_value">{{tour.ratingsAverage}}</span>
                    <span> rating ({{tour.ratingsQuantity}})</span>
                </p>
            </div>
            <div class="card_detail">
                <a [routerLink]="['./',tour.id]">Details</a>
            </div>
        </div>
    </div>
    <div *ngIf="tourList.length == 0 && !showLoader" class="no_data">
        <h2>No Tours Found</h2>
    </div>
</div>