<section class="edit_container">
    
    <div class="edit_header">
        <h2>Manage User</h2>
        <i class="fa fa-times" aria-hidden="true" (click)="onClose()"></i>
    </div>


    <div class="user_header">
            <div class="user_background">
                                </div>
        <div class="user_intro_container">
            
            <div class="user_intro">
                <h2>Milan Raval</h2>
                <h3>milanraval008@gmail.com</h3>
            </div>
        </div>
        <div class="user_image">
            <img src="../../assets/img/tours/tour-1-1.jpg">
        </div>

    </div>
    <div class="user_profile_container">
        <div class="user_profile">
            <div class="input_box">
                <input type="text" id="" required>
                <span class="float_label">Enter Name</span>
            </div>
            <div class="input_box">
                <input type="text" id="" required>
                <span class="float_label">Enter Name</span>
            </div>
            <div class="input_box">
                <input type="text" id="" required>
                <span class="float_label">Enter Name</span>
            </div>
        </div>
    </div>
</section>